<!DOCTYPE html>
<html>
    <head>
        <title>產生訂單</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" />
        <link rel="stylesheet" href="/static/css/product.css" />
        <style>
            .alert{
                color: red;
            }
        </style>
    </head>
    
    <body style="margin: 0px; background-color:#eeeeee;">

        <div class="head">
            <a class="icon" href="/home/" style="text-decoration:none;float: left;"><i class="bi bi-house-fill"></i>回到首頁</a>
            <a class="icon" href = "/home/seller/" style="text-decoration: none;position: absolute;left: 145px;top: 19px;"><i class="bi bi-disc"></i>我的商品頁</a>
            <a class="icon" href = "/home/cart/" style="text-decoration: none;position: absolute;left: 300px;top: 19px;"><i class="bi bi-cart"></i>購物車</a>
            <div class="title" style="font-weight: bold;"><i class="bi bi-check-circle"></i>確認訂單</div>
            <a class="icon" href="/home/personal/" style="text-decoration:none; float: right;position: absolute;left: 1350px;top: 20px;"><i class="bi bi-person-circle"></i>{{name}}</a> 
            <a class="icon" href="/" style="text-decoration:none;float: right;"><i class="bi bi-box-arrow-left"></i>登出</a>
        </div>
        
        
        

        
        {% if not(add) %}
            <p class="alert">請輸入住址，以便完成訂單</p>
        {%endif%}

        <form action = "/home/cart/address/" method = "post">
            <label>您目前的運送地址: {{add}}<br><br></label>
            <label>運送地址: </label>
            <input  type="text" name="address" maxlength="50" placeholder="請輸入要運送到的地址" required/>
            <button type="submit" name="button" value="address" onclick="conf()">提交地址</button>
            <table class="producttable" width="500" border="1">
                <th>商品名稱</th>
                <th>價格</th>
                <th>購買數量</th>
                {% if info %}
                    {% for row in info %}
                        <tr>
                            <td>{{row[2]}}</td>
                            <td>{{row[3]}}</td>
                            <td>{{row[5]}}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                <td>運費</td>
                <td>100</td>
                <td>1</td>
            </table>
        </form>

        {% if add %}
            <form action="/home/cart/address/" method="post">
                <button type="submit" name="button" value="submit" onclick="javascript:return sure();">結帳</button>
            </form>
        {% endif %}

        <p>總金額: {{all}}</p>

        <script lang="javascript">
            function sure(){
                if(window.confirm("確定提交訂單")){
                    alert('訂單已提交')
                    return true;
                }else{
                    return false;
                }
            }
        </script>

        <script lang="javascript">
            function conf(){
                if(window.confirm("確定更新地址?")){
                    alert('地址已更新')
                    return true;
                }else{
                    return false;
                }
            }
        </script>

        
    </body>
</html>