<!DOCTYPE html>
<html>

<head>
    <title>首頁</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/home.css" />

</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <script>alert('{{message}}')</script>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="/home/">首頁</a>
    <a href="/">登出</a>
    <a href="/home/question/">問題回報</a>
    <br>
    <a>歡迎登入</a>
    <a href="/home/personal/">{{info}}</a>    
    <h1>Home Page</h1>
    <h2>Home</h2>
    <a href="cart/"><i class="bi bi-cart"></i>購物車</a>
    <a href="customer/"><i class="bi bi-people-fill"></i>會員</a>
    <a href="seller/"><i class="bi bi-shop"></i>我的賣場</a>
</body>

</html>