<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv = "Content-Type" content = "text/html"; charset = "UTF-8">
        <title>登入頁面</title>
        <link rel = "stylesheet" href = "/static/style.css" />
    </head>

    <body>
        <form action = "action.js" class = "login">
            <h1>Login 登入</h1>
            <input type = "text" placeholder = "帳號(phone)" />
            <input type = "password" placeholder = "密碼(password)" />
            <input type = "submit" value = "登入" />
        </form>
    </body>
</html>
