<!DOCTYPE html>
<html>

<head>
    <title>登入頁面</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <form class="login" action="/" method="post">
        <h1>Login 登入</h1>
        {%if error is defined%}
        <p class="error">帳號密碼錯誤</p>
        {%endif%}
        <input type="text" placeholder="帳號(phone)" name="my_phone" maxlength="10" required />
        <input type="password" placeholder="密碼(password)" name="password" required />
        <button type="submit">登入</button>
        <a href="/register/">註冊帳號</a>
    </form>


</body>

</html>