<!DOCTYPE html>
<html>
    <head>
        <title>我的商品</title>
        <link rel="stylesheet" href="/static/css/product.css" />
    </head>

    <body>
        <a href = "/home/">首頁</a>
        <a href = "/">登出</a>
        <p>我的商品</p>
        <a href = "new_product/">新增商品</a>
        
        <table class="producttable" width="500" border="1">
            <th>商品名稱</th>
            <th>價格</th>
            <th>剩餘數量</th>
            <th>評價</th>
            <th>商品資料</th>
            <th>商品種類</th>
            {% for row in productList %}
                <tr>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>